

/* logout */
.logout:hover
{
    color: #e99518;
    border-bottom: .1rem solid #e99518;
    margin-right: 15px;
}

.logout:hover .ion-log-out
{
    transform: rotate(360deg);
    padding-left: 4px;
}

/* msgBox and addBox */
.msgBox:hover,
.addBox:hover
{
    border: 2px solid #e99518;
    transform: scale(1.2);
    cursor: pointer;
}

.msgBox:hover .icon,
.addBox:hover .icon
{
    color: #e99518;
    transform: rotate(360deg);
}

/* img overlay */
.photoOverlay
{
    position: absolute;
    bottom: -25px;
    left: -30px;
    right: 0;
    background-color: #f7d100;
    overflow: hidden;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 300ms ease;
    opacity: .89;
}

.imgWrap:hover .photoOverlay
{
    transform: scale(1)
}

.text
{
    color: #fcfcfc;
    font-size: 20px;
    position: absolute;
    top: 39%;
    left: 34%;
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    text-align: center;
}

/* discover me */
button:hover
{
    transform: scale(1.1);
    background-color: #e99518;
}

.discover button:focus
{
    outline: none;
}